<div class="row canter center-align red-text">
    <h1><i class="material-icons" style="font-size: 3em">pan_tool</i></h1>
    <h2>You Don't Have Permission<br>to Perform this Action!</h2>
    <h3><b>This incident will be reported!</b></h3>
</div>